*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent{
   
  padding: 30px;
 
}
.card{
  height: 320px;
  width:280px;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: #8b8b8b 0px 4px 12px;
}
.card .top{
  display: flex;
  justify-content: space-between;
  
   text-align: center;
}
.top img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding:2px ;
  border: 1px solid #dadada;
  justify-content: space-between;

}
.top button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dadada;
  padding : 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap: 5px;
  background-color: transparent;
  color: #dadada;
}

.center h3{
  font-size: 18px;
  font-weight: 700;
}
.center h3 span{
  margin-left: 6px;
  font-size: 10px;
  font-weight: 500;
  color: #8b8b8b
  
}
.center h2{
  font-size: 22px;

}
.center .tag{
  display: flex;
  gap: 8px;
  margin-top: 6px;
}
.center .tag h4{
  font-size: 12px;
  font-weight: 700;
  background-color: #e7e6e6;
  justify-content: space-between;
  padding: 5px;
  border-radius: 4px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
     border-top: 1px solid #d0d0d0;
  padding: 12px;
}
.bottom .apply{
  background-color: black;
  color: #e2e1e1;
  padding: 7px 12px;
  border-radius: 5px;
}
.bottom .price h3{

  font-size: 18px;
  font-weight: 600;
}
.bottom .price p{
  font-size: 11px;
  color:#a7a7a78d;
}


.wrapper{ 
  width: 100%;
  display: flex;
 flex-wrap: wrap;
 background-color: rgb(219, 216, 216);
}